In [1]:
from pandas import read_csv
A = read_csv("/users/bajajvbh/Desktop/Vaibhav/Datasets/Google_Stock_Price_Train.csv")

In [2]:
A.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [3]:
inp = []
op = []
for i in range(4,len(A.Open),1):
    inp.append([A.Open[i-4],A.Open[i-3],A.Open[i-2],A.Open[i-1]])
    op.append(A.Open[i])

In [4]:
from pandas import DataFrame
Q = DataFrame([inp,op]).T
Q.columns = ["inp","op"]
Q.head(10)

                                inp      op
0  [325.25, 331.27, 329.83, 328.34]  322.04
1  [331.27, 329.83, 328.34, 322.04]   313.7
2   [329.83, 328.34, 322.04, 313.7]  310.59
3   [328.34, 322.04, 313.7, 310.59]  314.43
4   [322.04, 313.7, 310.59, 314.43]  311.96
5   [313.7, 310.59, 314.43, 311.96]  314.81
6  [310.59, 314.43, 311.96, 314.81]  312.14
7  [314.43, 311.96, 314.81, 312.14]   319.3
8   [311.96, 314.81, 312.14, 319.3]  294.16
9   [314.81, 312.14, 319.3, 294.16]  291.91

In [5]:
Q.index = range(4,1258,1)

In [6]:
Q.head(10)

                                 inp      op
4   [325.25, 331.27, 329.83, 328.34]  322.04
5   [331.27, 329.83, 328.34, 322.04]   313.7
6    [329.83, 328.34, 322.04, 313.7]  310.59
7    [328.34, 322.04, 313.7, 310.59]  314.43
8    [322.04, 313.7, 310.59, 314.43]  311.96
9    [313.7, 310.59, 314.43, 311.96]  314.81
10  [310.59, 314.43, 311.96, 314.81]  312.14
11  [314.43, 311.96, 314.81, 312.14]   319.3
12   [311.96, 314.81, 312.14, 319.3]  294.16
13   [314.81, 312.14, 319.3, 294.16]  291.91

In [7]:
W = {}
for i,j in zip(Q.index,A.Date[4:1258]):
    W[j]=i

In [8]:
W['1/19/2012']

11

In [21]:
from numpy import array
X = array(Q.inp)
Y = array(Q.op)

In [97]:
X = X.reshape((1254,1))

In [33]:
X.shape

(1254, 1)

In [68]:
Y = Y.reshape((1254,1))

In [69]:
from tensorflow import convert_to_tensor
t = []
for m in Q.inp:
    t.append(array(m))

In [83]:
u = []
for i in Y:
    u.append(array(i))

In [84]:
X1 = convert_to_tensor(t)
Y1 = convert_to_tensor(u)

In [85]:
X1.shape

TensorShape([1254, 4])

In [86]:
type(Y1)

tensorflow.python.framework.ops.EagerTensor

In [87]:
type(X1)

tensorflow.python.framework.ops.EagerTensor

In [88]:
X1.shape

TensorShape([1254, 4])

In [89]:
Y1.shape

TensorShape([1254, 1])

In [101]:
from keras.models import Sequential
from keras.layers import Dense,LSTM


nn = Sequential()
nn.add(LSTM(units=100, input_shape = (1254,4,1)))
nn.add(Dense(units=1))

nn.compile(optimizer="adam", loss = "mean_squared_error")
nn.fit(X1,Y1,epochs=5)

ValueError: Input 0 of layer lstm_12 is incompatible with the layer: expected ndim=3, found ndim=4. Full shape received: [None, 1254, 4, 1]

In [66]:
X1.shape

TensorShape([1254, 4])

In [76]:
Y1.shape

TensorShape([1254])